body {
  background: #f5f6fa;
}

.card {
  border-radius: 12px;
}

.btn-big {
  font-size: 1.2rem;
  padding: 15px;
}

.selected {
  color: white;
}

.selected.occupied {
  background-color: #ffc107 !important; /* amarillo para liberar */
}

.selected.btn-outline-primary {
  background-color: #0d6efd !important; /* azul para pedido */
}
@media (max-width: 576px) {
	  .btn {
		      font-size: 1.1rem;
		          padding: 14px;
			    }
		    }

